
    <h1>TypeScript - ES2021</h1>
    <h2>Si falta <strong>node_modules</strong> ejecutar:
         <small>npm install</small></h2>
    <h2>Para inicializar app básica con node ejecutar: <small>npm start</small></h2>
    <br>
    <h2>Para crear una app básica con angularCLI: <small>ng new nombreDeLaApp </small></h2>
    <h3>enforce stricter type: <small>Y</small></h3>
    <h3>Angular routing: <small>N o S para facilitar trabajo</small></h3>
    <h3>Tipo estilos: <small>CSS</small></h3>
    <h3>...puede tardar un rato...</h3>
    <h2>Para inicializar app básica con angularCLI ejecutar: <small>ng serve -o</small></h2>
    <h3>-o significa que abra el servidor tan pronto lo tenga lista</h3>
    <hr>
    
