
    <h1>TypeScript - ES2021</h1>
    <h2>Si falta <strong>node_modules</strong> ejecutar:
         <small>npm install</small></h2>
    <h2>Para inicializar app básica con node ejecutar: <small>npm start</small></h2>
    <br>
    <h2>Para crear una app básica con angularCLI: <small>ng new nombreDeLaApp </small></h2>
    <h3>enforce stricter type: <small>Y</small></h3>
    <h3>Angular routing: <small>N o S para facilitar trabajo</small></h3>
    <h3>Tipo estilos: <small>CSS</small></h3>
    <h3>...puede tardar un rato...</h3>
    <h2>Para inicializar app básica con angularCLI ejecutar: 
         <code>ng serve -o</code></h2>
    <h3>-o significa que abra el servidor tan pronto lo tenga lista</h3>

    <br>
    <h2>Repositorio en <a href="https://github.com/">github.com</a></h2>
    <h3>entrar con tu usuario github y crear repositorio <small>angular-basicos</small> https://github.com/l0g0s/angular-basicos.git</h3>
    <h3><small>git init</small> // inicia o reinicia git</h3>
    <h3><small>git add .</small> // add all</h3>
    <h3><small>git commit -m "primer commit"</small></h3>
    <h3>y ahora viene el PUSH</h3>
    <h3><small>git remote add origin https://github.com/l0g0s/angular-basicos.git</small>
    <h3><small>git branch -M main</small>
    <h3><small>git push -u origin main</small>
    <h3><small>git tag -a v0.1.0 -m "Fin sección 4"</small></h3>
    <h3><small>git tag</small></h3>
    <h3><small>git push --tags</small></h3>
    <h3>Para convertirlo en un release tag en github.com seleccionamos el tag, pulsamos en su versión, seleccionamos editar, le ponemos un nombre y pulsamos en "update release"</h3>

    <script src="bundle.js"></script>

    <hr><hr>

    <h1>{{titulo}}</h1>

    <h3>la base es <b>{{base}}</b></h3>

    <button (click)="acumular(base)"> + {{base}} </button>

    <span>   {{numero}}   </span>

    <button (click)="acumular(-base)"> - {{base}} </button>    
